venv
.venv
.git
__pycache__
*.pyc
*.pyo
*.pyd
build
dist
*.egg-info
node_modules
.DS_Store
.idea
.vscode
*.log
*.sqlite3
/.env
/.venv
/.venv/
coverage/
htmlcov/
pip-wheel-metadata
*.egg
/.pytest_cache